body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #f0f0f0 0%, #a0a0a0 80%, #303030 100%);
  min-height: 100vh;
}




.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.3s, backdrop-filter 0.3s;
  z-index: 100;
  padding: 10px 0;
}

.logo-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: 15px;
}

.search {
  font-size: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  position: absolute;
  left: 150px;         
  right: 50px;        
  width: auto;        
  max-width: calc(100% - 200px);
  box-sizing: border-box;
}

.sparks-title {
    margin-top: 150px;
    margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

.sparks-text {
  width: 900px;
  height: 200px;
  font-size: 35px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.future {
  color: rgba(39, 255, 129, 0.836);
}

.discord {
  margin-right: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.roblox {
  margin-right: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.github {
  margin-right: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.team-section {
  width: 700px;
  margin: 50px auto;
  text-align: center;
}

.teamheader {
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.teamstyle {
  box-sizing: border-box;
  height: 200px;
  width: 700px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  padding: 20px;
}

.teamstyle:hover {
  border-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 2px 2px 10px;
  border-width: 30px;
  background-color: rgb(168, 255, 190);
}

.botstyle {
  height: 200px;
  width: 700px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 50px auto;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.botstyle:hover {
  border-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 2px 2px 10px;
  border-width: 30px;
  background-color: rgb(168, 255, 190);
}

.botheader {
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.socials {
    width: 300px;
    height: 50px;
 font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  padding: 20px;
  
}

.social-info {
margin-top: 200px
}

.links {
